/* static/css/reset.css */

body, p, h1, h2, h3, ul, ol, li, dl, dt, dd {
  margin: 0; 
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

ul, li {
  list-style: none;
}

input {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
}

button {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  /* 更改对齐方式 */
  vertical-align: top;
}

i {
  font-style: normal;
}